<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 3
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям
*Идеальный просмотр Jupyter notebooks возможен только локально, GitHub и nbviewer могут неправильно отбражать формулы или картинки.*

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (качать данные не надо, они уже есть в репозитории). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://docs.google.com/forms/d/1KbWiGlupiSwYlqc8nmV6KjB3vNTI0C5hxZ6Tq3ZU4QA).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Датасет сформирован из реальных клинических анализов, и в нём используются признаки, которые можно разбить на 3 группы:

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [1]:
import numpy as np
import pandas as pd

Считываем данные из CSV-файла в объект pandas DataFrame.

In [2]:
df = pd.read_csv('mlbootcamp5_train.csv', sep=';', 
                 index_col='id')

Посмотрим на первые 5 записей.

In [3]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [8]:
# смотрим пропуски и типы
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70000 entries, 0 to 99999
Data columns (total 12 columns):
age            70000 non-null int64
gender         70000 non-null int64
height         70000 non-null int64
weight         70000 non-null float64
ap_hi          70000 non-null int64
ap_lo          70000 non-null int64
cholesterol    70000 non-null int64
gluc           70000 non-null int64
smoke          70000 non-null int64
alco           70000 non-null int64
active         70000 non-null int64
cardio         70000 non-null int64
dtypes: float64(1), int64(11)
memory usage: 6.9 MB

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше (здесь и далее под средним понимается среднее арифметическое).**

**<font color='red'>Варианты:</font>**
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин
- 45530 женщин и 24470 мужчин
- 45530 мужчин и 24470 женщин

In [10]:
# Ваш код здесь
print('gender = 1:', df[df.gender == 1]['height'].mean())
print('gender = 2:', df[df.gender == 2]['height'].mean())

gender = 1: 161.35561168460356
gender = 2: 169.94789538210054

In [17]:
print('Женщины:', len(df[df.gender == 1]))
print('Мужчины:', len(df[df.gender == 2]))

Женщины: 45530
Мужчины: 24470

### Ответ: 45530 женщин и 24470 мужчин

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем реже указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- мужчины 
- женщины

In [12]:
# Ваш код здесь
print('Женщины:', df[df.gender == 1].alco.mean())
print('Мужчины:', df[df.gender == 2].alco.mean())

Женщины: 0.02549967054689216
Мужчины: 0.10637515324887617

### Ответ: Женщины

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно, `round`) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- 12
- 16

In [23]:
# Ваш код здесь
male_smoke = round(100 * len(df[(df.gender == 2) & (df.smoke == 1)]) / len(df.index))
print('Процент курящих среди мужчин:', male_smoke)

female_smoke = round(100 * len(df[(df.gender == 1) & (df.smoke == 1)]) / len(df.index))
print('Процент курящих среди женщик:', female_smoke)

print('Отношение муж/жен:', round(male_smoke / female_smoke))

Процент курящих среди мужчин: 8
Процент курящих среди женщик: 1
Отношение муж/жен: 8

### Ответ: 8

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чём здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 10
- 15
- 20
- 25

In [32]:
# Ваш код здесь
days_in_month_avg = 365.25 / 12
df['age_mon'] = df.age / days_in_month_avg
df.age_mon[1 : 10]

id
1     664.574949
2     619.531828
3     578.989733
4     574.094456
8     719.967146
9     726.505133
12    741.979466
13    580.468172
14    651.630390
Name: age_mon, dtype: float64

In [34]:
smoke_yes_age_median = df[df.smoke == 1].age_mon.median()
print('Медиана возраста в месяцах курящих:', smoke_yes_age_median)

smoke_no_age_median = df[df.smoke == 0].age_mon.median()
print('Медиана возраста в месяцах некурящих:', smoke_no_age_median)

print('Разница в месяцах:', round(abs(smoke_yes_age_median - smoke_no_age_median)))

Медиана возраста в месяцах курящих: 628.3367556468172
Медиана возраста в месяцах некурящих: 647.9507186858316
Разница в месяцах: 20

### Ответ: 20

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='https://habrastorage.org/webt/gg/38/vf/gg38vfl5ql8obqjmlsvt9es76p8.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 64 лет включительно. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу, и она не включается).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., а уровень холестерина – 4 ммоль/л, то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180), а холестерина было бы 8 ммоль/л.

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Создайте новый признак ``age_years`` – возраст в годах, округлив до целых (`round`). Для данного примера отберите курящих мужчин от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.
- Интересуют 2 подвыборки курящих мужчин возраста от 60 до 64 лет включительно: первая с верхним артериальным давлением строго меньше 120 мм рт.ст. и концентрацией холестерина – 4 ммоль/л, а вторая – с верхним артериальным давлением от 160 (включительно) до 180 мм рт.ст. (не включительно) и концентрацией холестерина – 8 ммоль/л.

Во сколько раз (округленно, `round`) отличаются доли больных людей (согласно целевому признаку, `cardio`) в этих двух подвыборках? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- 3
- 4
- 5

In [43]:
# Ваш код здесь
# Создайте новый признак age_years – возраст в годах, округлив до целых (round).
# Для данного примера отберите курящих мужчин от 60 до 64 лет включительно
df['age_years'] = round(df.age / 365.25)
df_score = df[(df.age_years > 59) & (df.age_years < 65)][['gender', 'ap_hi', 'cholesterol', 'cardio', 'age_years']].copy()
df_score[: 10]

    gender  ap_hi  cholesterol  cardio  age_years
id
8        1    120            2       0       60.0
9        1    130            3       0       61.0
12       2    130            3       1       62.0
15       1    120            1       0       62.0
29       2    120            1       0       60.0
32       1    145            2       1       63.0
33       2    110            1       0       64.0
43       1    140            3       1       63.0
46       2    140            3       1       60.0
52       2    130            1       1       64.0

In [44]:
# первая подвыборка с верхним артериальным давлением строго меньше 120 мм рт.ст. и концентрацией холестерина – 4 ммоль/л
df_score_120_4 = df_score[(df_score.ap_hi < 120) & (df_score.cholesterol == 1)]
df_score_120_4[: 10]

     gender  ap_hi  cholesterol  cardio  age_years
id
33        2    110            1       0       64.0
97        1    110            1       0       64.0
145       2    110            1       1       64.0
192       2    110            1       1       60.0
255       1     90            1       0       62.0
379       1    100            1       1       60.0
396       1    110            1       1       60.0
494       2    110            1       0       62.0
495       1    100            1       0       60.0
586       1    110            1       0       60.0

In [45]:
# вторая подвыборка с верхним артериальным давлением от 160 (включительно) до 180 мм рт.ст. (не включительно)
# и концентрацией холестерина – 8 ммоль/л
df_score_160_8 = df_score[(df_score.ap_hi >= 160) & (df_score.ap_hi < 180) & (df_score.cholesterol == 3)]
df_score_160_8[: 10]

      gender  ap_hi  cholesterol  cardio  age_years
id
604        1    169            3       1       60.0
1150       1    160            3       1       63.0
1307       2    160            3       1       64.0
1390       1    160            3       1       64.0
1764       1    160            3       1       62.0
2507       1    160            3       1       64.0
3100       2    160            3       1       60.0
3242       1    160            3       1       61.0
3330       1    160            3       1       60.0
3509       2    170            3       1       64.0

In [48]:
# Во сколько раз (округленно, round) отличаются доли больных людей (согласно целевому признаку, cardio)
# в этих двух подвыборках? Посчитайте на наших данных.
ratio_1 = len(df_score_120_4[df_score_120_4.cardio == 1]) / len(df_score_120_4.index)
print('Доля больных людей в первой группе:', ratio_1)

ratio_2 = len(df_score_160_8[df_score_160_8.cardio == 1]) / len(df_score_160_8.index)
print('Доля больных людей во второй группе:', ratio_2)

print('Отношение: ', round(ratio_2 / ratio_1))

Доля больных людей в первой группе: 0.3987682832948422
Доля больных людей во второй группе: 0.8707482993197279
Отношение:  2

### Ответ: 2

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке превышает норму
- У женщин в среднем BMI ниже, чем у мужчин
- У здоровых в среднем BMI выше, чем у больных
- В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

In [49]:
# Ваш код здесь
df['BMI'] = df.weight / ((df.height / 100) ** 2)
df[: 10]

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_mon,age_years,BMI
id,,,,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0,604.287474,50.0,21.967120
1,20228,1,156,85.0,140,90,3,1,0,0,1,1,664.574949,55.0,34.927679
2,18857,1,165,64.0,130,70,3,1,0,0,0,1,619.531828,52.0,23.507805
3,17623,2,169,82.0,150,100,1,1,0,0,1,1,578.989733,48.0,28.710479
4,17474,1,156,56.0,100,60,1,1,0,0,0,0,574.094456,48.0,23.011177
8,21914,1,151,67.0,120,80,2,2,0,0,0,0,719.967146,60.0,29.384676
9,22113,1,157,93.0,130,80,3,1,0,0,1,0,726.505133,61.0,37.729725
12,22584,2,178,95.0,130,90,3,3,0,0,1,1,741.979466,62.0,29.983588
13,17668,1,158,71.0,110,70,1,1,0,0,1,0,580.468172,48.0,28.440955
14,19834,1,164,68.0,110,60,1,1,0,0,0,0,651.630390,54.0,25.282570

In [51]:
# Медианный BMI по выборке превышает норму
BMI_med = df.BMI.median()
if BMI_med > 25:
    print('Медианный BMI по выборке превышает норму')
else:
    print('Медианный BMI по выборке не превышает норму')

Медианный BMI по выборке превышает норму

In [53]:
# У женщин в среднем BMI ниже, чем у мужчин
BMI_female = df[df.gender == 1].BMI.mean()
BMI_male = df[df.gender == 2].BMI.mean()
if BMI_female < BMI_male:
    print('У женщин в среднем BMI ниже, чем у мужчин на', BMI_male - BMI_female)
else:
    print('У женщин в среднем BMI выше, чем у мужчин на ', BMI_female - BMI_male)

У женщин в среднем BMI выше, чем у мужчин на  1.2331410845436466

In [55]:
# У здоровых в среднем BMI выше, чем у больных
BMI_health = df[df.cardio == 0].BMI.mean()
BMI_sick = df[df.cardio == 1].BMI.mean()
if BMI_health > BMI_sick:
    print('У здоровых в среднем BMI выше, чем у больных на', BMI_health - BMI_sick)
else:
    print('У здоровых в среднем BMI ниже, чем у больных на ', BMI_sick - BMI_health)

У здоровых в среднем BMI ниже, чем у больных на  2.0178854202206864

In [57]:
# В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин
BMI_heal_nonaclo_male = df[
    (df.gender == 2) & 
    (df.cardio == 0) &
    (df.alco == 0)].BMI.mean()
BMI_heal_nonaclo_female = df[
    (df.gender == 1) & 
    (df.cardio == 0) &
    (df.alco == 0)].BMI.mean()
print('BMI здоровых и непьющих мужчин:', BMI_heal_nonaclo_male)
print('BMI здоровых и непьющих женщин:', BMI_heal_nonaclo_female)

BMI здоровых и непьющих мужчин: 25.872638075460173
BMI здоровых и непьющих женщин: 26.845406594131518

### Ответы:
- Медианный BMI по выборке превышает норму - ДА
- У женщин в среднем BMI ниже, чем у мужчин - НЕТ
- У здоровых в среднем BMI выше, чем у больных - НЕТ
- В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин - ДА

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления строго выше верхнего
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используйте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Этот вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно, `round`) мы выбросили?

**<font color='red'>Варианты:</font>**
- 8
- 9
- 10
- 11

In [62]:
# Ваш код здесь
df_clear = df[
    (df.ap_hi >= df.ap_lo) &
(df.height <= df.height.quantile(0.975)) &
(df.height >= df.height.quantile(0.025)) &
(df.weight <= df.weight.quantile(0.975)) &
(df.weight >= df.weight.quantile(0.025))].copy()
print('Количество строк после чистки:', len(df_clear.index))
print('Количество строк до чистки:', len(df.index))
print('Выкинули данных (%):', round(100 * (len(df.index) - len(df_clear.index)) / len(df.index)))

Количество строк после чистки: 63259
Количество строк до чистки: 70000
Выкинули данных (%): 10

### Ответ: 10